:root {
    --main-bg-color: #faebd7;
    --main-bg-transparent-color: #000000cc;
    --main-header-color: #B7C9F2;
    --heading-text-color: #3a3535;
    --button-bg-color: #25a8e0;
    --button-hover-color: #1c6088;
    --box-shadow-color: #202020;
    --text-shadow-color: #444444;
    --hr-color: #f51b1b;
  }