:root {
    --main-bg-color: #faebd7;
    --main-bg-transparent-color: #000000cc;
    --heading-text-color: #3a3535;
    --button-bg-color: #25a8e0;
    --button-hover-color: #1c6088;
    --box-shadow-color: #202020;
    --text-shadow-color: #6490a8;
  }