@import url('../css/colors.css');


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


footer {
    z-index: 5;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0px;
    box-shadow: 2px 2px 2px 4px var(--box-shadow-color);
    padding: 0.15em;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}



/*---------------- Responsive Styles-------------------------------------------------------- */
@media only screen and (max-width: 600px) {
    footer {
        font-size: 14px;
    }
}

