.header-body{    
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: auto;
    height: fit-content;
    justify-content: center;
    color: #ecf0f1; 
    background-image: url(../res/bus.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    align-items: center;
}

h1 {
    padding: 0.5em;
    font-size: 25px;
    text-align: start;
    text-shadow: 2px 2px #5887a1;
    color: #ffffff;
}

.logo {
    width: 7em;
    height: auto;
    align-content: center;
    padding: 1em;
    margin-top: 1em;
}


nav {
    background-color: rgba(0, 0, 0, 0.8); 
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 0px;
    box-shadow: 2px 2px 10px #202020;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    width: 100%;
}

nav ul li {
    display: block;
}

nav li a {
    display: block;
    color: #ecf0f1; 
    padding: 18px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #070707;
    color: #ecf0f1;
}

nav ul .register-list .register-dropdown {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 2px 2px 5px 5px #202020;
    border-radius: 1px;
}

nav ul .register-list:hover .register-dropdown {
    display: flex; 
    position: absolute;
    flex-direction: column;
    width: fit-content;
}

nav ul .services-list .services-dropdown {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 2px 2px 5px 5px #202020;
    border-radius: 1px;
}

nav ul .services-list:hover .services-dropdown {
    display: flex; 
    position: absolute;
    flex-direction: column;
    width: fit-content;
}


nav ul .support-list .support-dropdown {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 2px 2px 5px 5px #202020;
    border-radius: 1px;
}

nav ul .support-list:hover .support-dropdown {
    display: flex; 
    position: absolute;
    flex-direction: column;
    width: fit-content;
}
.menu-toggle {
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 199px;
        left:0;
        right: 0;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
    
    

    
}






/*---------------- Responsive Styles-------------------------------------------------------- */
@media only screen and (max-width: 600px) {
    .logo {
        width: 5em;
        padding: .5em;
        margin-top: .5em;
    }

    h1 {
        padding: 0.5em;
        font-size: 20px;
    }

    nav {
        margin-top: 0.5em;
        align-items: center;
    }

    nav a {
        padding: 10px;
        font-size: 14px;
    }
}