@import url('../css/colors.css');


.header-body{    
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

header {
    z-index: 5;
    width: auto;
    height: fit-content;
    justify-content: center;
    background-color: var(--main-header-color);
    background-image: url("../res/bus-bg.gif");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 61%;
    align-items: center;
}

h1 {
    padding: 0.5em;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: start;
    text-shadow: 2px 2px var(--text-shadow-color);
    color: white;
}

.menu-toggle{
    padding: 0.75em;
    color: white;
}

.logo {
    width: 7em;
    height: auto;
    align-content: center;
    padding: 1em;
    padding-right: 0.5em;
    margin-top: 1em;
}


nav {
    background-color: var(--main-bg-transparent-color); 
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 0px;
    box-shadow: 2px 2px 10px var(--box-shadow-color);
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    width: 100%;
}

nav ul li {
    display: block;
}

nav li a {
    display: block;
    color: white; 
    padding: 1em;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: black;
    color: white;
}

#id-register{
    display: none;
}

#id-login{
    display: none;
}

#id-logout{
    display: none;
}

nav ul .register-list .register-dropdown {
    display: none;
    position: absolute;
    background-color: var(--main-bg-transparent-color);
    box-shadow: 2px 2px 5px 5px var(--box-shadow-color);
    border-radius: 1px;
}

nav ul .register-list:hover .register-dropdown {
    display: flex; 
    position: absolute;
    flex-direction: column;
    width: fit-content;
}

nav ul .services-list .services-dropdown {
    display: none;
    position: absolute;
    background-color: var(--main-bg-transparent-color);
    box-shadow: 2px 2px 5px 5px var(--box-shadow-color);
    border-radius: 1px;
}

nav ul .services-list:hover .services-dropdown {
    display: flex; 
    position: absolute;
    flex-direction: column;
    width: fit-content;
}


nav ul .support-list .support-dropdown {
    display: none;
    position: absolute;
    background-color: var(--main-bg-transparent-color);
    box-shadow: 2px 2px 5px 5px var(--box-shadow-color);
    border-radius: 1px;
}

nav ul .support-list:hover .support-dropdown {
    display: flex; 
    position: absolute;
    flex-direction: column;
    width: fit-content;
}
.menu-toggle {
    display: none;
    cursor: pointer;
}





/*---------------- Responsive Styles-------------------------------------------------------- */
@media only screen and (max-width: 600px) {

    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--main-bg-transparent-color);
        position: absolute;
        top: 203px;
        left:0;
        right: 0;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
    

    .logo {
        width: 4em;
        height: auto;
        padding: .5em;
        margin-top: .5em;
    }

    h1 {
        padding: 0.5em;
        font-size: 16px;
    }

    nav {
        margin-top: 0.5em;
        align-items: center;
    }

    nav a {
        padding: 10px;
        font-size: 14px;
    }
}


@media only screen and (max-width: 430px) {

    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--main-bg-transparent-color);
        position: absolute;
        top: 179px;
        left:0;
        right: 0;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
    

    .logo {
        width: 4em;
        height: auto;
        padding: .5em;
        margin-top: .5em;
    }

    h1 {
        padding: 0.5em;
        font-size: 16px;
    }

    nav {
        margin-top: 0.5em;
        align-items: center;
    }

    nav a {
        padding: 10px;
        font-size: 14px;
    }
}