
body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}



div{
    text-align:start;
    padding: 5em;
    margin-bottom: 2em;
}


  
  form {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
