@import url('../css/colors.css');

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

.heading {
    color: var(--heading-text-color);
    padding: 1em;
    margin: 4em;
}

.heading h1 {
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px var(--text-shadow-color);
}

.search-container {
    display: flex;
    margin-bottom: 8em;
}

/* CSS for Search box */
#search {
    flex: 1;
    max-width: 400px;
    max-height: 375px;
    border-radius: 8px;
    padding: 30px;
    margin-left: 5em;
    background-color: white;
    box-shadow: 2px 2px 10px var(--box-shadow-color);
}

#map {
    z-index: 1;
    width: 400px;
    height: auto;
    margin-left: 5em;
    margin-right: 5em;
    box-shadow: 2px 2px 10px var(--box-shadow-color);
}

#results {
    flex: 1;
    max-width: 400px;
    max-height: 375px;
    border-radius: 8px;
    padding: 30px;
    margin-right: 5em;
    background-color: white;
    box-shadow: 2px 2px 10px var(--box-shadow-color);
}

#schedule {
    padding: 1em;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input[type="text"],
select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid white;
    border-radius: 0.5em;
}

form button {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 10px var(--box-shadow-color);
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: var(--button-hover-color);
}



/* Media query for smaller screens */
@media only screen and (max-width: 600px) {

    .heading {
        margin: 1em;
        margin-top: 2em;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 8em;
    }

    #search,
    #results {
        width: 60%; 
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
    }

    #map {
        width: 300px;
        height: 300px;
        margin: 1em;
        margin-top: 2em;
    }
}