/* styles.css */

/* CSS for body, header, and main */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #faebd7;
}

.heading {
    color: #3a3535;
    padding: 1em;
    margin: 5em;

}

.heading h1 {
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px #5c6970;
}

.search-container {
    display: flex;
}

/* CSS for Search box */
#search {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    margin-left: 5em;
    margin-bottom: 7em;
    background-color: white;
    box-shadow: 2px 2px 10px #202020;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input[type="text"],
select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

form button {
    
    box-shadow: 2px 2px 10px #202020;
    background-color: #28b7f5e3;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.5em;
}

form button:hover {
    background-color: #2072a3;
}

#results {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    margin-left: 30em;
    margin-right: 5em;
    margin-bottom: 7em;
    background-color: white;
    box-shadow: 2px 2px 10px #202020;
}

#schedule {
    border: 1px solid #ccc;
    padding: 1em;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}
